
<div class="container">
  <div class="cards">

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
      <li>
        <h1>Name - <%= @restaurant.name %></h1>
        <p>address - <%= @restaurant.address %></p>
        <p>phone number - <%= @restaurant.phone_number %></p>
        <p>category - <%= @restaurant.category %></p>
      </li>
    </div>
  </div>
</div>


<% @restaurant.reviews.each do |review| %>
  <div class="notification">
    <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar"/>
    <div class="notification-content">

      <p><small><%= review.content %></small></p>
      <p><strong><%= review.rating %></strong></p>
    </div>
  </div>
<% end %>



<h2><%= link_to "add a review", new_restaurant_review_path(@restaurant), class: "btn-ghost" %></h2>

